@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --cream: 55 47% 87%;
    --khaki: 51 39% 71%;
    --sage: 60 14% 57%;
    --peach: 14 44% 70%;
    --mauve: 355 18% 63%;

    --background: var(--cream);
    --foreground: var(--sage);
    --card: var(--khaki);
    --card-foreground: var(--sage);
    --popover: var(--cream);
    --popover-foreground: var(--sage);
    --primary: var(--peach);
    --primary-foreground: var(--cream);
    --secondary: var(--khaki);
    --secondary-foreground: var(--sage);
    --muted: var(--khaki);
    --muted-foreground: var(--sage);
    --accent: var(--mauve);
    --accent-foreground: var(--cream);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--cream);
    --border: var(--khaki);
    --input: var(--khaki);
    --ring: var(--peach);
    --radius: 0.5rem;
  }
 
  .dark {
    --background: var(--sage);
    --foreground: var(--cream);
    --card: var(--sage);
    --card-foreground: var(--cream);
    --popover: var(--sage);
    --popover-foreground: var(--cream);
    --primary: var(--peach);
    --primary-foreground: var(--sage);
    --secondary: var(--mauve);
    --secondary-foreground: var(--cream);
    --muted: var(--mauve);
    --muted-foreground: var(--khaki);
    --accent: var(--peach);
    --accent-foreground: var(--sage);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--cream);
    --border: var(--mauve);
    --input: var(--mauve);
    --ring: var(--peach);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
