@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 345 17% 92%;
    --event: 340 20% 96%;
    --tag: 340 40% 48%;
    --text: 160 25% 7%;

    --foreground: var(--text);
    --card: var(--event);
    --card-foreground: var(--text);
    --popover: var(--background);
    --popover-foreground: var(--text);
    --primary: var(--tag);
    --primary-foreground: var(--event);
    --secondary: var(--event);
    --secondary-foreground: var(--text);
    --muted: var(--event);
    --muted-foreground: color-mix(in srgb, var(--text) 60%, var(--background));
    --accent: var(--tag);
    --accent-foreground: var(--event);
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: var(--event);
    --border: var(--event);
    --input: var(--event);
    --ring: var(--tag);
    --radius: 0.5rem;
  }
 
  .dark {
    --background: color-mix(in srgb, var(--text) 10%, var(--background));
    --foreground: var(--event);
    --card: color-mix(in srgb, var(--text) 20%, var(--background));
    --card-foreground: var(--event);
    --popover: color-mix(in srgb, var(--text) 20%, var(--background));
    --popover-foreground: var(--event);
    --primary: var(--tag);
    --primary-foreground: var(--event);
    --secondary: color-mix(in srgb, var(--text) 30%, var(--background));
    --secondary-foreground: var(--event);
    --muted: color-mix(in srgb, var(--text) 30%, var(--background));
    --muted-foreground: color-mix(in srgb, var(--event) 60%, var(--background));
    --accent: var(--tag);
    --accent-foreground: var(--event);
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: var(--event);
    --border: color-mix(in srgb, var(--text) 40%, var(--background));
    --input: color-mix(in srgb, var(--text) 40%, var(--background));
    --ring: var(--tag);
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
